<div class="container properties">
  <div class="pages-header">
    <span class="left">properties</span>
    <%= link_to "Add Property", new_property_path, class: 'right btn btn-secondary' %>
  </div>

  <% @properties.each do |property| %>
    <a class="card full" href="<%= property_path(property.id) %>">
        <div class="row">
          <div class="col-sm-6">
            <% if property.single_family %>
              <i class="fa fa-home fa-3x"></i>
            <% else %>
              <i class="fa fa-building fa-3x"></i>
            <% end %>
              <div class="address-wrapper">
                <span class="address"><%= property.address_1 %></span><br>
                <span><%= property.city %>, <%= property.state %></span>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="status-wrapper text-center">
              <i class="fa fa-check fa-2x"></i></br>
              Status Good!
            </div>
          </div>
          <div class="col-sm-3">
            <div class="details right" id="details" data-id="<%= property.id %>">
              <span id="details_prompt">show details</span> <i class="fa fa-chevron-down"></i>
            </div>
          </div>
      </div>
    </a>


    <div class="card units hidden" id="units_<%= property.id %>">
      <% property.units.each do |unit| %>
        <a class="unit" href="<%= property_unit_path(property, unit) %>">
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-key"></i> <%= unit.name %>
            </div>
            <div class="col-sm-4">
              Rent Due: 11/1
            </div>
            <div class="col-sm-2 status">
              <i class="fa fa-check fa-lg right"></i>
            </div>
          </div>
        </a>
        <% unless property.units.last == unit %>
          <hr>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).ready(function()
  {
    // listen for interaction
    // --
    property_manager.listen();
  })
<% end %>
